*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: serif;
}
.navbar{
    height: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
}
.logo{
    flex: 20%;
    text-align: left;
    margin-left: 6%;
    font-size: 20px;
    
}
.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}
.menu a{
    text-decoration: none;
    padding: 20px 16px;
    color: black;
}
.menu a:hover{
    color: red;
    border-bottom: solid black 3px;
}
.header{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-items: center;
    align-items: center;
    padding-top: 120px;
    font-size: 25px;
    width: 60%;
}
.conteudo{
    flex: 40%;
    margin-left: 10%;
    
}
.projetos{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-items: center;
    align-items: center;
    padding-top: 150px;
}
.proje{
    flex: 100%;
    margin-left: 6%;
   
}
.proje h2{
    font-size: 45px;
}
.proje a{
    font-size: 22px;
    text-decoration: none;
    color: black;
}
li{
    padding: 5px;
}
.proje a:hover{
    color: red;
    border-bottom: solid 3px black;
}
.footer{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-items: center;
    align-items: center;
    padding-top: 150px;
}
.rodape{
    background: linear-gradient(to top, black, rgb(0, 40, 151));
    height: 150px;
    border-top: solid 6px black;
    margin-top: 200px;
    color: white;
    text-align: center;
}
.rodape a:hover{
   border-bottom:solid 10px black;
}
