body{
    background-color: rgb(223, 201, 201);  
}
.login{
    height: 200px;
    width: 250px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    background-color: rgb(177, 48, 48);
    background-image: linear-gradient( to bottom right, rgb(162, 0, 255), transparent, rgb(249, 253, 4));
    border-radius: 20px 50px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.726);

}
input::placeholder{
    text-align: center;
    color: rgba(0, 0, 0, 0.452);
}
input:focus{
    box-shadow: 0;
    outline: 0;
}
input{
    border-color: rgb(0, 0, 0);
    height: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.603);
    border-radius: 5px 10px;
    margin: 15px;
}
button{
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.548);
}