
.container{
    background-color: #61e3e1b7;
    width: 500px;
    height: auto;
    border-radius: 50px 20px;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.438);
}

header{
    color: rgb(59, 44, 44);
    text-align: center;
}

section{
    background-color: rgba(240, 255, 255, 0.712);
    border-radius: 30px 15px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.363);
}

footer{
    text-align: center;
    color: rgb(59, 44, 44)
    ;
}